* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Josefin+Sans", sans-serif;
  line-height: 1.5;
  font-size: 1.6rem;

  background: #6e5a8e;
  color: #fff7fb;

  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  width: 80%;
  margin: auto;
  padding-bottom: 2rem;

  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: burlywood;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1, 15;
}

h2 {
  color: aliceblue;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1, 2;
}

.btn {
  background: #ffd166;
  color: #2a1e35;
  border: none;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 1.6rem;
  border-radius: 1rem;
}

.btn-eliminar-carrito {
  background-color: #f7bb2b;
  border: 2px solid #d21f3c;
}

.btn-vaciar-carrito {
  background-color: #f7bb2b;
  color: #1d1a20;
}

.btn-vaciar-carrito:hover {
  background-color: #e0aa24;
}

header,
footer {
  background: #5c4a7a;
  color: #fff7fb;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div-log {
  margin-left: 2rem;
  font-size: 3rem;
  font-weight: bold;
}

.div-log img {
  width: 120px;
  height: auto;
}

.logo,
.header-nav ul li a {
  text-decoration: none;
  font-size: 3rem;

  color: inherit;
  display: inline-block;
  padding: 2rem;
}

.header-nav {
  margin-right: 2rem;
}

.header-nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 2rem;
}

footer nav ul li {
  padding: 1rem;
}

/*--------------------------------------------HOME--------------------------------------------------------*/

.titulo-home {
  margin: 3rem 0;
}

.titulo-producto {
  text-align: center;
  margin: 3rem 0;
}

.parrafo {
  width: 80%;
  text-align: center;
  font-size: 2rem;
  padding: 3rem;
}

.contenedor-tarjetas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.card {
  background: #8a79a8;
  color: #2a1e35;

  width: 40rem;
  padding-bottom: 2rem;
  border-radius: 1rem;

  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.card img {
  width: 100%;
}

/*-------------------------CONTACTO--------------------*/

.titulo-contacto {
  margin: 2rem 0;
}

.from-contacto {
  background-color: #8a79a8;
  color: #2a1e35;
  width: 100%;
  max-width: 50rem;
  font-size: 2rem;
  padding: 3rem;
  border-radius: 1rem;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.grupo-input input,
.grupo-input textarea {
  border: none;
  background-color: transparent;
  border-bottom: solid 2px #2a1e35;
  margin-bottom: 3rem;
}

.grupo-input {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}
/*---------------------CARRITO---------------------*/

.mensaje-carrito-vacio {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 2rem;
}

.acciones-carrito {
  margin-top: 2rem;
}

/*---------------------MEDIA---------------------*/
@media (max-width: 768px) {
  header,
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header .div-logo,
  .header-nav {
    margin: 0;
  }
  .contenedor-tarjetas {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
